@import url(pagination.css);
header.page-title {
    text-align: center;
    font-size: 30px;
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    margin: 50px 0px;

    animation: fadeIn 3.2s ease-in-out forwards;
    opacity: 0;
}