.profile {
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: var(--transparent-bg);
    border-radius: 10px;
    padding: 30px;
}


.profile-image {
    max-width: 40%;
}

.profile-image img {
    border-radius: 30%;
}

.profile-name{
    font-size: 60px;
    color: rgb(178, 137, 61);

}
