:root {
    --accent-color: #5a4e83;
}
.profile {
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: var(--transparent-bg);
    border-radius: 10px;
    padding: 30px;
}


.profile-image {
    max-width: 40%;
}

.profile-image img {
    border-radius: 30%;
}

.profile-links form button {
    width: 100%;
}

.profile-name{
    font-size: 60px;
    color: var(--accent-color);

}


.profile-info {
    background: var(--transparent-bg);
    padding: 20px;
    border-radius: 20px;
    font-size: 30px;
}


.profile-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.profile-info div {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    transition: all 1s;
}


.profile-info div:hover {
    transform: scale(0.96);
    background: var(--transparent-bg);
}


.profile-info div strong {
    color: var(--accent-color);
}


/*forum*/
.forum-container {
    display: flex;
}

.forum-container button {
    width: 50%;
}

.forum-container form {
    display: flex;
    width: 100%;
}


.forum-container form textarea {
    min-height: 100px;
}
.forum-container form input[type="date"] {
    width: 50%;
}


/*article*/
.forum .forum-article{
    background-color: var(--transparent-bg);
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article-title {
    font-size: 40px;
    font-weight: bold;
    color: var(--accent-color);
}

.article-description {
    font-size: 26px;
}

.article-author,
.article-date {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: var(--accent-color);
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 20px;
    width: 20%;
}

/*responsive*/
@media only screen and (max-width: 1200px) {
    .profile {
      flex-direction: column;
      justify-content: center;
      padding: 10px;
    }
    .profile-name {
        text-align: center;
    }
    .profile-image {
        max-width: 70%;
    }
    
    .profile-info {
        font-size: 20px;
        gap: 10px;
    }
}

