:root {
    --accent-color: #5a4e83;
}
.profile {
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: var(--transparent-bg);
    border-radius: 10px;
    padding: 30px;
}


.profile-image {
    max-width: 40%;
}

.profile-image img {
    border-radius: 30%;
}

.profile-links form button {
    width: 100%;
}

.profile-name{
    font-size: 60px;
    color: var(--accent-color);

}


.profile-info {
    background: var(--transparent-bg);
    padding: 20px;
    border-radius: 20px;
    font-size: 30px;
}


.profile-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.profile-info div {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    transition: all 1s;
}


.profile-info div:hover {
    transform: scale(0.96);
    background: var(--transparent-bg);
}


.profile-info div strong {
    color: var(--accent-color);
}


/*responsive*/
@media only screen and (max-width: 1200px) {
    .profile {
      flex-direction: column;
      justify-content: center;
      padding: 10px;
    }
    .profile-name {
        text-align: center;
    }
    .profile-image {
        max-width: 70%;
    }
    
    .profile-info {
        font-size: 20px;
        gap: 10px;
    }
}

